@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Gantari:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Gantari', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #211f1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container404 {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 620px;
}

.container404 h1 {
  font-size: 4rem;
}

.container404 h2 {
  font-size: 2.1rem;
}

.container404 p {
  font-size: 1rem;
  margin-top: 20px;
}

.quote-wrapper {
  margin-top: 20px;
  background-color: #373534;
  padding: 12px;
  border-radius: 14px;
  display: none;
}

.quote-wrapper blockquote {
  font-style: italic;
  font-size: 1.1rem;
  quotes: '\201C''\201D';
}

.quote-wrapper footer {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.go-home {
  margin-top: 20px;
}

.go-home a {
  color: #ffffff;
  font-size: 1.1rem;
}

@media only screen and (max-width: 630px) {
  .container404 {
    width: 90%;
  }
}
