@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Gantari:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Gantari', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

/*    GENERAL   */

body {
  background-color: #211f1e;
  color: #fff;
}

section {
  padding: 1.2rem;
}

.section-header {
  margin: 1rem 0;
}

.section-header h1 {
  font-size: 2rem;
  text-align: center;
}

.section-header h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  width: 60%;
  margin: auto;
}

svg {
  width: 100%;
  height: 75px;
}

/*    WELCOME SECTION    */
#welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome .card {
  width: 540px;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 190px;
}

.roles {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 2% auto 1%;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.roles li {
  font-size: 1.1rem;
  border-right: 1px solid #ffffff;
  margin-right: 10px;
  padding-right: 24px;
  display: inline;
}

.roles li:last-child {
  border-right: none;
}

.card h1 {
  font-size: 2rem;
  text-align: center;
}

.about {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 12px 8px;
  text-align: justify;
}

.particles-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

/* PORTFOLIO */
.portfolio-subtitle {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  width: 60%;
  margin: auto;
}

#portfolio {
  padding: 20px;
  background-color: #1d1b1b;
}

.portfolio-container {
  display: flex;
  width: 1300px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  flex: 0 1 calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #222;
}

.portfolio-svg {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.title a {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
}

.visited {
  text-decoration: none !important;
}

.description {
  font-size: 1rem;
  color: #fffafa;
  padding: 12px;
}

.education-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.education-item {
  background-color: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.university-logo-wrapper {
  max-width: 100px;
  height: 100px; /* Set a fixed size for all logos */
  display: flex;
  align-items: center; /* Vertically center the logo */
  justify-content: center; /* Horizontally center the logo */
  margin: 0 auto 10px;
}

.university-logo-wrapper img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.university-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.university-program {
  font-size: 1.1rem;
  color: #ccc;
}

.education-time {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 10px;
}

/* CONTACT */

.asterisk-required {
  color: red;
}

.contact-form-wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 0.7rem 1rem;
  border: 1px solid #ccc;
  background-color: #211f1f;
}

.pageclip-form {
  margin: 0;
}

.pageclip-form > div {
  margin: 1rem auto;
}

.contact-form-wrapper label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.pageclip-form input,
.pageclip-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

.pageclip-form .submit-form-div {
  margin-bottom: 0;
  text-align: center;
}

.pageclip-form button {
  background-color: #355e3b;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-form-wrapper button:hover {
  background-color: #40826d;
}

textarea:focus,
input:focus {
  border: 2px solid #0078d4;
  box-shadow: 0 0 5px rgba(0, 120, 212, 0.5);
}

textarea:focus,
input:active {
  border: 2px solid #ff5722;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

textarea:focus,
input:hover {
  border: 2px solid #333;
}

input,
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.pageclip-form__success {
  color: #ffffff;
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ) !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.pageclip-form__success h1 {
  font-size: 2rem;
}

.pageclip-form__success h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.pageclip-form__success p {
  font-size: 1.2rem;
  font-weight: bold;
}

.last-commit-timestamp-wrap {
  text-align: center;
  margin: 12px auto;
}

.last-commit-timestamp {
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
}

.contact-form-privacy {
  color: #ffffff;
  text-align: center;
  margin: 30px auto 12px;
  width: 530px;
}

.contact-form-privacy p {
  font-size: 0.9rem;
}

/* FOOTER */

footer.footer-main {
  display: flex;
  padding: 1.2rem;
  width: 100%;
  justify-content: space-around;
  background-color: #252422;
}

footer.footer-main .social-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

footer.footer-main i {
  font-size: 1.3rem;
  padding: 6px 8px;
}

footer.footer-main li {
  list-style-type: none;
}

.social-link {
  color: #ffffff;
  text-decoration: none;
}

.social-link:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

/* MEDIA QUERIES ARRANGED BASED ON THE DESCENDING */

@media only screen and (min-width: 1391px) {
  .portfolio-container {
    margin: auto;
  }
}

@media only screen and (max-width: 1390px) {
  .portfolio-container {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1300px) {
  footer.footer-main {
    padding: 1.1rem 0;
  }
  footer.footer-main .social-links {
    width: 60%;
  }
}

@media only screen and (max-width: 1060px) {
  .education-container {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1060px) {
  .education-container {
    width: 1020px;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio-container {
    flex-direction: column;
    padding: 1.1rem;
  }

  .portfolio-item {
    flex: 1 1 auto;
  }

  .education-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 650px) {
  .section-header h2 {
    width: 90%;
  }

  footer.footer-main {
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  footer.footer-main .social-links {
    width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .contact-form-privacy {
    width: 90%;
  }
}

@media only screen and (max-width: 540px) {
  .roles li {
    padding-right: 1rem;
  }
  .contact-form-wrapper {
    width: 95%;
  }

  footer.footer-main {
    height: auto;
  }
  footer.footer-main .social-links {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .roles {
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  #welcome .card {
    width: 90%;
    height: 220px;
    padding: 12px 0;
  }
  .roles,
  .about {
    width: 100%;
  }
}
